/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

/* global */
h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
}

code{
	font-family: 'Anonymous Pro', monospace;
}

*{
	font-family: 'Lato', sans-serif;
}

body{
	margin: 0;
}

/* Navigation */
.navbar{
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	color: #000;
	background: #fff;
	border-bottom: 1px solid #dedede;
	padding: 0 10px;
	z-index: 9999;
}

.s-bar{
	position: fixed;
	display: block;
	width: 250px;
	height: 100%;
	background: #fff;
	top: 51px;
	left: -271px;
	bottom: 0;
	padding: 10px;
	border-right: 1px solid #dedede;
	transition: left 0.4s ease-in-out;
	z-index: 9999;
}

.navbar .menu-btn{
	color: #000;
	background: transparent;
	border: none;
	font-size: 12pt;
	width: 50px;
	height: 31px;

}

.toggle{
	left: 0;
}

.s-brand{
	display: block;
	background: url('logo.png');
	background-repeat: no-repeat;
	background-size: 74px 31px;
	width: 74px;
	height: 31px;
}

.s-bar p{
	padding: 10px 15px;
	margin: 3px 0;
}

.s-bar a{
	text-decoration: none;
}

.s-bar .li {
  position: relative;
  color: #000;
}

.s-bar .li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.s-bar .li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.inv{
	display: inline-block;
}

/* Content */
.wrapper{
	position: absolute;
	height: 100%;
	width: auto;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
}

.container{
	display: block;
	margin: auto;
	width: 90%;
}

.half-hero{
	border-bottom: 1px solid #dedede;
	width: 100%;
	height: auto;
	color: #09c;
	font-family: 'Raleway';
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Grid */
.block{
	display: inline-block;
}

.halfs, .thirds, .fourths{
	display: grid;
	grid-template-rows: auto;
	width: 100%;
	grid-column-gap: 4px;
}

.halfs{
	grid-template-columns: auto auto;
}

.thirds{
	grid-template-columns: auto auto auto;
}

.fourths{
	grid-template-columns: auto auto auto auto;
}

/* Responsive */
@media only screen and (max-width: 900px) {
	.s-brand {
		background: url('sm-logo.png');
		background-size: 31px 31px;
		width: 31px;
		height: 31px;
	}

	.r-halfs, .r-thirds, .r-fourths{
		grid-template-columns: auto;
	}

	.inv{
		display: none;
	}
}